collected_data/*
collected_data_lbc_augment/*
collected_data_autopilot/*
collected_data_customized/*
collected_data_basic_agent/*
collected_data_pid_agent/*
ga_intermediate.pkl
sample_data/*
temp/*
models/*
detectors/__pycache__/*
misbehaviors_log.txt
detectors/models/__pycache__/*
detectors/saved_models/*
__pycache__/*
bugs/*
dask-worker-space/*
plots/*
checkpoints/*
wandb/*
*.png
dt_data/*
non_dt_data/*
non_bugs/*
rerun/*
tmp_folder/*
current_scenario.json
data_for_analysis/*
run_results/*
scenario_files/*
adv/*
tmp_travel_dist_file_*
route_to_center_d.pkl
new_initial_observations_one_ped_const_weather.pkl
tmp_tsne/*
*.pdf
tmp/*
tmp_10hz/*
collected_data_lbc_augment_ped/*
exp_9/coco/coco_confusion_repair_aug
carla_specific_utils/__pycache__/*
fuzzing_utils/__pycache__/*
run_results_svl/*
rerun_svl/*
run_results_op/*
