collected_data/*
collected_data_autopilot/*
collected_data_customized/*
sample_data/*
temp/*
models/*
detectors/__pycache__/*
misbehaviors_log.txt
detectors/models/__pycache__/*
detectors/saved_models/*
